<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css">
</head>

<body data-bs-theme="dark">
    <%- include('partials/navbar') %>

        <div class="container">
            <table class="table my-3 table-striped ">

                <thead>
                    <tr>
                        <th scope="col">Sr</th>
                        <th scope="col">Image</th>
                        <th scope="col">MovieName</th>
                        <th scope="col">Feedback</th>
                        <th scope="col">action</th>
                    </tr>
                </thead>
                <tbody>
                   
                

                </tbody>
            </table>
        </div>

</body>

</html>